/* Button for Resume */
.resumeButton {
    display: inline-block;
    background-color: #ff6c81; /* Green */
    border-radius: 40px;
    border: 2px solid transparent;
    color: white;
    padding: 5px 30px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: border 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

/* On Hover: Button for Resume */
.resumeButton:hover {
    background-color: white;
    border: 2px solid #ff6c81;
    color: #ff6c81;
}
